apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: recommendations
  DATABASE_URI: postgresql+psycopg://postgres:postgres@postgres:5432/recommendations